<ion-content padding [fullscreen]="true">
  <div class="title-container">
    <h3>Perfil</h3>
  </div>

  <!-- Botões de navegação interna -->
  <div class="nav-buttons">
    <ion-button class="nav-button" shape="round" (click)="showSection('meusDados')"
      [color]="currentSection === 'meusDados' ? 'primary' : 'secondary'">
      Meus dados
    </ion-button>
    <ion-button class="nav-button" shape="round" (click)="showSection('pedidos')"
      [color]="currentSection === 'pedidos' ? 'primary' : 'secondary'">
      Pedidos
    </ion-button>
  </div>

  <!-- Seção de Meus Dados -->
  <div *ngIf="currentSection === 'meusDados'">
    <form [formGroup]="perfilForm" class="perfil-form">
      <ion-item class="input-container">
        <ion-icon name="person-outline" slot="start" color="danger"></ion-icon>
        <ion-input [value]="user?.name" readonly></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-icon name="card-outline" slot="start" color="danger"></ion-icon>
        <ion-input [value]="user?.cpf" readonly></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-icon name="mail-outline" slot="start" color="danger"></ion-icon>
        <ion-input [formControlName]="'email'" type="text"></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-icon name="call-outline" slot="start" color="danger"></ion-icon>
        <ion-input [formControlName]="'phone'" type="text"></ion-input>
      </ion-item>

      <ion-item class="input-container">
        <ion-icon name="home-outline" slot="start" color="danger"></ion-icon>
        <ion-input [formControlName]="'address'" type="text"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button class="edit-button" *ngIf="!editMode" (click)="toggleEdit()" shape="round">Editar</ion-button>
        <ion-button class="logout-button" *ngIf="!editMode" shape="round" (click)="onLogout()">Sair</ion-button>
      </div>

      <div *ngIf="editMode" class="button-edit">
        <ion-button class="confirm-button" expand="full" (click)="onSave()" shape="round">Confirmar</ion-button>
        <ion-button class="cancel-button" expand="full" (click)="onCancelEdit()" shape="round">Cancelar</ion-button>
      </div>
    </form>
  </div>

  <!-- Seção de Pedidos -->
  <div *ngIf="currentSection === 'pedidos'" class="pedidos-section">
    <h4>Meus Pedidos</h4>
    <ion-list>
      <ion-item *ngFor="let pedido of pedidos">
        <ion-label>
          Pedido #{{pedido.id}} - {{pedido.status}} - Total: {{pedido.total | currency}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>