<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="checkout-container">
    <h2>Endereço de Entrega</h2>

    <div class="address-info">
      <ion-item>
        <ion-label>
          {{ user?.name }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ address }}
        </ion-label>
      </ion-item>
    </div>

    <div class="total-section">
      <h3>Total: R$ 150,00</h3>
    </div>

    <ion-button expand="block" color="primary" (click)="proceedToPayment()">
      Continuar para o Pagamento
    </ion-button>

    <ion-button expand="block" color="light" (click)="goBack()">
      Voltar
    </ion-button>
  </div>

</ion-content>