<ion-content slot="fixed">
  <div class="login-container" slot="fixed">
    <div class="header" slot="fixed">
    </div>

    <img src="assets/images/PIZZA_LOGO_ICON.svg" alt="Logo Icon" class="logo" slot="fixed">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" slot="fixed">
      <ion-item slot="fixed">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input formControlName="email" type="email" placeholder="Email" [clearInput]="true"
          labelPlacement="stacked"></ion-input>
      </ion-item>

      <ion-item slot="fixed">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password' " placeholder="Senha"
          labelPlacement="stacked"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <div class="forgot-password" (click)="navigateToForgotPassword()">Esqueci minha senha</div>

      <ion-button class="login-button" expand="full" type="submit" [disabled]="!loginForm.valid"
        shape="round">Login</ion-button>
    </form>


    <div class="register" (click)="navigateToRegister()">Ainda não tenho cadastro</div>
  </div>
</ion-content>