<ion-content [fullscreen]="true">
  <div class="header-container">
    <img src="../../assets/images/LOGO_NAME.svg" alt="Logo">
    <ion-buttons slot="end">
      <div class="cart-container">
        <ion-button (click)="openCart()" class="cart-button">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
        <ion-badge *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</ion-badge>
      </div>
    </ion-buttons>
  </div>

  <div class="pizza-card" *ngFor="let pizza of pizzas" (click)="openModal(pizza)">
    <!-- Div para a Imagem -->
    <div class="pizza-image-container">
      <img [src]="pizza.imageUrl" alt="Pizza Image" class="pizza-image">
    </div>

    <!-- Div para as Informações da Pizza -->
    <div class="pizza-info-container">
      <div class="pizza-name">{{ pizza.name }}</div>
      <div class="pizza-description">{{ pizza.description }}</div>
      <div class="pizza-price">A partir de</div>
      <div class="price">R${{ pizza.price }}</div>
    </div>
  </div>
</ion-content>