<ion-content [fullscreen]="true">
  <div class="header-container">
    <img src="../../assets/images/LOGO_NAME.svg" alt="Logo">
    <ion-buttons slot="end">
      <div class="cart-container">
        <ion-button (click)="openCart()" class="cart-button">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
        <ion-badge *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</ion-badge>
      </div>
    </ion-buttons>
  </div>

  <div class="pizza-card" *ngFor="let pizza of pizzas" (click)="openModal(pizza)">
    <app-pizza-card [name]="pizza.name" [imageUrl]="pizza.imageUrl" [price]="pizza.price"
      [description]="pizza.description" [showDescription]="true"></app-pizza-card>
  </div>
</ion-content>