ion-content {
    --background: #fff;

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        gap: 80px;

        .cart-button {
            --background: #C2272D;
            color: white;
            position: relative;
            padding-top: 30px;
        }
    }
}