<ion-content [fullscreen]="true">

  <div class="header-container">
    <ion-buttons slot="end">
      <ion-title size="large">Cardápio</ion-title>
      <ion-button (click)="openCart()" class="cart-button">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="cartItemCount > 0" color="primary">{{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </div>

  <div *ngFor="let pizza of pizzas" (click)="openModal(pizza)">
    <app-pizza-card [name]="pizza.name" [imageUrl]="pizza.imageUrl" [price]="pizza.price"
      [description]="pizza.description" [showDescription]="true"></app-pizza-card>
  </div>
</ion-content>