<ion-content>
  <div class="header-container">
    <h3>Carrinho</h3>
    <ion-buttons slot="end">
      <ion-button (click)="closeCart()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-list *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item *ngFor="let item of cartItems; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="item.pizza.imageUrl" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.pizza.name }} ({{ item.size }})</h2>
        <h3>{{ item.totalPrice | currency : 'BRL' }}</h3>
        <div>
          <ion-button (click)="decreaseQuantity(item)" [disabled]="item.quantity <= 1">-</ion-button>
          <ion-badge>{{ item.quantity }}</ion-badge>
          <ion-button (click)="increaseQuantity(item)">+</ion-button>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="removeItem(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #emptyCart>
    <p class="empty-cart">CARRINHO VAZIO</p>
  </ng-template>

  <ion-button (click)="clearCart()" class="clear-cart-button" color="secondary">LIMPAR CARRINHO
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>

  <div class="summary">
    <div>
      <ion-label>Subtotal: </ion-label>
      <ion-note>{{ originalPrice | currency: 'BRL' }}</ion-note>
    </div>
    <div *ngIf="isCouponApplied">
      <ion-label>Desconto: </ion-label>
      <ion-note>{{ discountAmount | currency: 'BRL' }}</ion-note>
    </div>
    <div>
      <ion-label>Total: </ion-label>
      <ion-note>{{ totalPrice | currency: 'BRL' }}</ion-note>
    </div>
  </div>

  <div class="coupon-title">
    <h3>CUPOM</h3>
  </div>

  <div class="coupon-container">
    <ion-input type="text" [(ngModel)]="couponCode" placeholder="Digite seu cupom"></ion-input>
    <ion-button (click)="applyCoupon()" [disabled]="isCouponApplied">Aplicar</ion-button>
  </div>


</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="confirmPurchase()">Confirmar Pedido</ion-button>
</ion-footer>