.pizza-card {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    //padding-top: 50px;

    .image-wrapper {
        width: 150px;
        height: 150px;
    }

    .pizza-image {
        width: 190px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 50px;
    }

    ion-card-header {
        text-align: center;
        margin-top: 100px;
    }

    .pizza-title {
        font-size: 15px;
        margin: 0;
    }

    .pizza-price {
        font-weight: 500;
        font-size: 15px;
        color: #C2272D;
        margin-top: 5px;
        margin: 0;
    }
}