<!-- <ion-card>
  <img [src]="imageUrl" alt="{{ name }}">
  <ion-card-header>
    <ion-card-title>{{ name }}</ion-card-title>
    <ion-card-subtitle>{{ price | currency: 'BRL' }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="showDescription">
    {{ description }}
  </ion-card-content>
</ion-card> -->

<ion-card class="pizza-card">
  <div class="image-wrapper">
    <img [src]="imageUrl" alt="{{ name }}" class="pizza-image" />
  </div>
  <ion-card-header>
    <ion-card-subtitle class="pizza-price">A partir de {{ price | currency: 'BRL' }}</ion-card-subtitle>
    <ion-card-title class="pizza-title">{{ name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="showDescription">
    {{ description }}
  </ion-card-content>
</ion-card>