ion-card {
    height: 250px;
    display: flex;
    flex-direction: column;

    img {
        height: 150px;
        object-fit: cover;
    }

    ion-card-title {
        font-size: 15px;
    }

    ion-card-subtitle {
        font-size: 15px;
        color: #C2272D;
    }
}