<ion-header no-border></ion-header>

<ion-content class="welcome-content">
  <div class="centered-content">
    <div class="logo-container">
      <img src="assets/images/PIZZA_LOGO_ICON.svg" alt="Logo Icon" class="logo-icon">
    </div>
    <img src="assets/images/LOGO_NAME.svg" alt="Logo Nome" class="logo-name">
    <div class="welcome-text">Seja-bem vindo!</div>
    <ion-button expand="full" class="login-button" shape="round" (click)="navigateToLogin()">LOGIN</ion-button>
    <ion-button expand="full" class="register-button" shape="round" (click)="navigateToRegister()">CADASTRO</ion-button>
  </div>
</ion-content>