ion-content.welcome-content {
    --background: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 100%;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .logo-icon {
        width: 50%;
        height: auto;
        border-radius: 50%;
    }

    .logo-name {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
    }

    .welcome-text {
        color: #C2272D;
        width: 250px;
        text-align: center;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
    }

    ion-button.login-button {
        --background: #C2272D;
        --border-radius: 50px;
        color: white;
        width: 200px;
        margin-bottom: 15px;
        border-radius: 50px;
        --background-activated: #700B0F;
    }

    ion-button.register-button {
        --background: #F8931F;
        --border-radius: 50px;
        --background-activated: #E08520;
        color: white;
        width: 200px;
        border-radius: 50px;
    }
}