<ion-content class="ion-padding pizza-detail-page">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="pizza-title">{{ pizza.name }}</ion-title>
  </ion-toolbar>

  <div class="pizza-image-container">
    <ion-img class="pizza-image" [src]="pizza.imageUrl"></ion-img>
  </div>

  <div class="pizza-description">
    <p>{{pizza.description}}</p>
  </div>

  <div class="size-buttons">
    <ion-button class="size-button" [class.selected]="selectedSize === 'P'" (click)="selectSize('P')">P</ion-button>
    <ion-button class="size-button" [class.selected]="selectedSize === 'M'" (click)="selectSize('M')">M</ion-button>
    <ion-button class="size-button" [class.selected]="selectedSize === 'G'" (click)="selectSize('G')">G</ion-button>
  </div>

  <div class="observations">
    <ion-label class="observations-label" position="stacked">Observações:</ion-label>
    <ion-textarea [(ngModel)]="notes" placeholder="Ex: sem cebola"></ion-textarea>
  </div>

  <div class="total-container">
    <ion-label class="total-label">TOTAL</ion-label>
    <ion-note class="total-price">{{ totalPrice | currency : "BRL" }}</ion-note>
  </div>

  <div class="actions-container">
    <div class="quantity-container">
      <ion-button class="quantity-button" (click)="changeQuantity(-1)">-</ion-button>
      <ion-label class="quantity-label">{{ quantity }}</ion-label>
      <ion-button class="quantity-button" (click)="changeQuantity(1)">+</ion-button>
    </div>
    <ion-button class="add-button" expand="block" (click)="addToCart()">ADICIONAR</ion-button>
    </div>
</ion-content>