<ion-header>
  <ion-toolbar>
    <ion-title>{{ pizza.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="pizza.imageUrl"></ion-img>
  <ion-item>
    <ion-label>Selecione o tamanho</ion-label>
    <ion-select [(ngModel)]="selectedSize" (ionChange)="updatePrice()">
      <ion-select-option value="P">Pequena</ion-select-option>
      <ion-select-option value="M">Média</ion-select-option>
      <ion-select-option value="G">Grande</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Quantidade</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="changeQuantity(-1)">-</ion-button>
      <ion-label>{{ quantity }}</ion-label>
      <ion-button (click)="changeQuantity(1)">+</ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Observações</ion-label>
    <ion-textarea [(ngModel)]="notes" placeholder="Ex: sem cebola"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Preço Total</ion-label>
    <ion-note>{{ totalPrice | currency }}</ion-note>
  </ion-item>

  <ion-footer>
    <ion-button expand="block" (click)="addToCart()">Adicionar ao Carrinho</ion-button>
  </ion-footer>
</ion-content>
