<ion-content>
  <div class="header-container">
    <h1>Recuperar Senha</h1>
  </div>

  <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
    <div class="input-container">
      <ion-label position="floating">Código de Verificação</ion-label>
      <ion-input type="text" [(ngModel)]="verificationCode" name="verificationCode" required></ion-input>
    </div>

    <div class="input-container">
      <ion-label position="floating">Nova Senha</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </div>

    <div class="input-container">
      <ion-label position="floating">Confirme a Nova Senha</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </div>

    <div class="button-container">
      <ion-button type="submit" expand="full" [disabled]="!forgotPasswordForm.valid">ALTERAR</ion-button>
      <ion-button expand="full" (click)="cancel()">CANCELAR</ion-button>
    </div>
  </form>
</ion-content>
