<ion-content [fullscreen]="true">
  <div class="header-container">
    <img src="../../assets/images/LOGO_NAME.svg" alt="Logo">
    <ion-buttons slot="end">
      <ion-button (click)="openCart()" class="cart-button">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="welcome-container">
    <h1>Seja bem-vindo, {{ firstName }}!</h1>
    <ion-searchbar placeholder="Buscar pizza..." animated="true"></ion-searchbar>
  </div>

  <div class="promocoes">
    <img src="../../assets/images/BANNER.svg" alt="Banner">
  </div>

  <div class="cardapio">
    <h2>Cardápio</h2>
    <div class="cardapio-grid">
      <div *ngFor="let pizza of pizzas" (click)="openModal(pizza)">
        <app-pizza-card [name]="pizza.name" [imageUrl]="pizza.imageUrl" [price]="pizza.price"
          [showDescription]="false"></app-pizza-card>
      </div>
    </div>
  </div>
</ion-content>