ion-content {
    --background: #f3f3f3 url('../../assets/images/PATTERN.svg');

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        gap: 80px;
        overflow: visible;

        img {
            padding-top: 45px;
            padding-left: 25px;
            height: 90px;
        }
    }

    .cart-container {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        margin-top: 30  px;
    }

    .cart-button {
        --background: #F8931F;
        color: #C2272D;
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-badge {
        --background: #731216;
        --color: #ffffff;
        position: absolute;
        top: -1px;
        right: -1px;
        margin: 0;
        min-width: 20px;
        min-height: 20px;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

}


.welcome-container {
    h1 {
        padding: 10px 0 0 20px;
        font-size: 20px;
        color: #C2272D;
    }

    ion-searchbar {
        padding-top: 10px;
        --background: #dddd;
        --color: #C2272D;
        --placeholder-color: #C2272D;
        --icon-color: #C2272D;
        border-radius: 100px;
    }
}

.promocoes {
    img {
        width: 360px;
        padding: 20px 0 0 15px;
    }
}

.cardapio {
    h2 {
        padding-top: 10px;
        text-align: center;
    }

    .cardapio-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
}