<ion-content [fullscreen]="true">
  <div class="header-container">
    <img src="../../assets/images/LOGO_NAME.svg" alt="Logo">
    <ion-buttons slot="end">
      <div class="cart-container">
        <ion-button (click)="openCart()" class="cart-button">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
        <ion-badge *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</ion-badge>
      </div>
    </ion-buttons>
  </div>

  <div class="welcome-container">
    <h1>Seja bem-vindo, {{ firstName }}!</h1>
    <ion-searchbar placeholder="Buscar pizza..." animated="true"></ion-searchbar>
  </div>

  <div class="slider-container">
    <div class="slides">
      <div class="slide"><img src="../../assets/images/BANNER.svg" alt="Promoção 1"></div>
      <div class="slide"><img src="../../assets/images/BANNER.svg" alt="Promoção 2"></div>
      <div class="slide"><img src="../../assets/images/BANNER.svg" alt="Promoção 3"></div>
    </div>
  </div>

  <div class="preferidas">
    <div class="infos">
      <h3>As preferidas da vovó</h3>
      <a href="/tabs/cardapio">Ver mais</a>
    </div>
    <div class="preferidas-scroll">
      <div class="pizza-card-container">
        <div *ngFor="let pizza of preferidas" class="pizza-card" (click)="openModal(pizza)">
          <app-pizza-card [name]="pizza.name" [imageUrl]="pizza.imageUrl" [price]="pizza.price"
            [showDescription]="false"></app-pizza-card>
        </div>
      </div>
    </div>
  </div>

  <div class="sushi-pizzas">
    <div class="infos-sushi">
      <h3>Pizzas de Sushi</h3>
      <a href="/tabs/cardapio">Ver mais</a>
    </div>
    <div class="sushi-scroll">
      <div class="pizza-card-container-sushi">
        <div *ngFor="let pizza of sushiPizzas" class="pizza-card-sushi" (click)="openModal(pizza)">
          <app-pizza-card [name]="pizza.name" [imageUrl]="pizza.imageUrl" [price]="pizza.price"
            [showDescription]="false"></app-pizza-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>